__pycache__/
*.py[cod]
*$py.class
*.spec
build/
dist/
executable/
*.egg-info/
.venv/
venv/
.env
.pytest_cache/
.coverage
htmlcov/
*.png
!ui/resources/**/*.png
!ui/resources/**/*.ico
!ui/resources/**/*.gif
!lib/opencv_template/*.png
